body.hideScrollBars { 
    height:100vh;
    width:100vw;
    overflow:hidden;
}

.share i {
	transform:scale(1.25);
	color:#FFF;
	padding-right:.5em;
}

.detail-template-wrapper .share i {
	transform:none;
	font-size:2rem;
	padding:0;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
	transition:transform 50ms ease;
}
.detail-template-wrapper .share a {
	display:inline-block;
	margin-right:1rem;
}
.detail-template-wrapper .share a:hover i {
	transform:scale(1.2);
	transition:transform 150ms ease;
}

.detail-template-wrapper .share {
	display:none;
	position:absolute;
	top:1rem;
	right:0;
}

.orientation-lock {
	display:block;
	background:#FFF;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:999;
}
.orientation-lock p {
		text-align:center;
		line-height:100vh;
		margin:0;
		color:#4c93ce;
}
.orientation-lock.hidden {
	display:none;
}

.bg_gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c6e0f2+100 */
	background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #ffffff 0%,#c6e0f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6e0f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height:100vh;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#explanation {
	position: fixed;
	bottom: -5em;
	left: 0;
	right: 0;
	background-color: rgba(76,147,206,.95);
	color:white;
	text-align: center;
	font-size: 1em;
	font-family:'Quicksand',sans-serif;
	padding: 1em .5em;
	transition: bottom ease 400ms;
}
#explanation.visible {
	bottom: 0em;
}
#gmap-canvas {
	height: 280px;
	margin-top:1rem;
}
.pointer {
	cursor:pointer;
}
span.abbr {
	border-bottom:1px dotted #000;
	cursor:help;
}
.hero {
	height:12rem;
	position:relative;
}
#results .hero {
	height:12rem;
}
#detail .specs {
	margin-top:.5rem;
	background: rgba(76,147,206,.25);
	padding:.5rem 1rem;
}
#detail .specs .grid__column {
	margin:0;
}
#detail .specs .grid__container {
	padding:0;
}
#detail .specs section:first-of-type{
	margin-bottom:1rem;
}
.gmap i {
	position:absolute;
	background:white;
	top:1.75rem;
	right:1.25rem;
	color:#4c93ce;
	padding:.5rem;
	font-size:1.5rem;
	line-height: 100%;
	cursor:pointer;
	transition: transform 150ms ease;
}
.gmap i:hover {
	transform:scale(1.2);
	transition: transform 150ms ease;
}
.full_screen #gmap-canvas{
	position:fixed !important;
	top:0 !important;
	left:0 !important;
	right:0 !important;
	bottom:0 !important;
	margin:0 !important;
	height:100vh !important;
	width:100vw !important;
	z-index:998 !important;
}

.full_screen i {
	position:fixed !important;
	z-index:999 !important;
	top:2rem !important;
	right:2rem !important;
}

.bg_blue {
	background: #4c93ce;
	color: #FFF;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
}
.bg_blue_fluid {
	background: #4c93ce;
	color: #FFF;
}
.bg_blue_fluid h5 {
	margin:.5rem;
}
.bg_blue_fluid .grid__column:first-child {
	padding:0;
	overflow:visible;
}
.bg_blue #progress_bar p {
	letter-spacing: -.05em;
	margin:.5em 0;
	display:block;
	width:1.125em;
	text-align:center;
	line-height: 1.125em;
}
.bg_blue #this_question {
	background:#FFF;
	color:#4c93ce;
	border-radius: 100%;
}
.bg_blue.fix_bottom {
	top:auto;
	bottom:0;
}
.bg_blue .grid__column, .bg_blue_fluid .grid__column {
	margin-bottom:0;
}
.bg_blue p.icon, .bg_blue a.icon {
	font-family:'Lato', sans-serif;
	font-weight:300;
	position:absolute;
	left:0;
	top:0;
	line-height:2.5rem;
	margin:0;
	color:#FFF;
}
.bg_blue p.icon.invert{
	left:auto;
	right:0;
}
.bg_blue p.icon i, .bg_blue a.icon i {
	margin-right:.25rem;
}
.bg_blue p.icon.invert i {
	margin-right:0;
	margin-left:.25rem;
}
body {
	font-size:100%;
	line-height:150%;
}
body>.page#questions {
	padding-bottom:2.5rem;
}
body .bg_blue + div.grid__wrapper {
	margin-top:2.5rem;
}
body .bg_blue + div.grid__wrapper.hero {
	margin-top:0;
}

.stars {
	overflow:hidden;
	display:inline;
}

.go_back, .go_next {
	cursor:pointer;
}

/*** RESULTS ***/
.results {
	margin-top:-2.5rem;
}
.results>div>div>.grid__column {
	padding:0;
	color:#4c93ce;
	margin-bottom:.5rem;
	overflow:visible;
}
.results>div>div>.grid__column .grid__row {
	background: rgb(166, 201, 231);
	cursor:pointer;
}

.results>div>div>.grid__column .grid__row:hover {
	outline:2px solid #4c93ce;
}

.results .grid__row .grid__row .grid__column {
	margin:0;
}

#progress_bar div.grid__column.grid__column-bp1-1 {
	overflow:visible;
}

/*** ANSWERS ***/
.searchField .grid__row {
	padding-top:.5rem;
}
.answers .grid__column.grid__column-bp1-12, .searchField .grid__column.grid__column-bp1-12 {
	padding:0;
	margin-bottom:.5rem;
}
#questions .searchField .grid__column {display: none;}
#questions input {
	width:100%;
	margin:0 0 .1em;
	color: #4c93ce;
	border: 1px solid #4c93ce;
	padding:0 .5em;
	line-height:2.5em;
}
.searchField input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(76,147,206,.75);
}
.searchField input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(76,147,206,.75);
   opacity:  1;
}
.searchField input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   rgba(76,147,206,.75);
}
.searchField input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   rgba(76,147,206,.75);
}
.answers p{
	display:block;
	width:100%;
	margin:0 0 .1em;
	color: #4c93ce;
	background: rgba(76,147,206,.25);
	padding:0 .5em;
	line-height:2.5em;
	cursor:pointer;
}
.answers p.selected {
	background: #4c93ce;
	color: #FFF;
}
.answers p.selected::after {
	content:"\f058";
	font-family:'FontAwesome';
	position:absolute;
	right:.5rem;
	font-size:1.5rem;
	color:#bfd8ec;
}
.answers p:last-child {
	margin:0;
}
/*** TYPOGRAPHY ***/
.txt_center, .txt_center_all {
	text-align:center;
}
h1,h2,h3,h4,h5 {
	font-family:Lato,sans-serif;
}
h1 {
	text-align:center;
	font-size:3.75rem;
	line-height:4.5rem;
	margin:0;
	font-weight:400;
}
.specs h1 {
	text-align:left;
	color:#5192cc;
	font-size:1.25rem;
	line-height:150%;
	font-weight:500;
	margin:0;
}
h2 {
	font-size:1.2rem;
	line-height:150%;
	margin:0;
	margin-top:.6em;
}
#detail h2 {
	font-size:2rem;
	line-height:200%;
	margin:.25rem 0;
	font-weight:400;
	text-align:center;
}
.e404 h2 {
	font-size:8rem;
	line-height:100%;
	font-weight:300;
	text-align:center;
	margin:0;
}
h3 {
	font-size:.875rem;
	line-height:125%;
	font-weight:400;
	margin:0;
	color:#FFF;
}
h4 {
	text-transform: uppercase;
	letter-spacing: .125rem;
	font-weight:400;
	text-align:center;
	margin:.5rem 0;
	font-size:1.125rem;
}
h5 {
	font-size:1.125rem;
	font-weight:300;
}
#detail h2 {
	font-size:1.8125rem;
	line-height:150%;
}
#detail p {
	margin-top:0;
}
.specs p {
	margin:0;
	font-size:0.875rem;
	line-height:150%;
}
.specs section p:nth-child(odd) {
	font-weight:700;
}
p,a,input {
	font-family:'Quicksand', sans-serif;
}

/*** HYPERLINKS ***/
a {
	color:#85bf73;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #5f8a53;
}


/*** INDEX.HTML ***/
#tagline {
	font-size:1em; 
	text-align:center;
}
.footer {
	position:absolute;
	bottom:0;
}
.footer a, .footer p {
	font-size: 0.75rem;
	margin:0;
}
.footer p {
	text-align:right;
}
.footer .grid__column {
	margin-bottom:0;
}
.v_center {
	position:absolute;
	top:10%;
}

/*** BUTTON ***/
a.btn {
	display:block;
	width:100%;
	text-align:center;
	border:2px solid #5193cc;
	text-decoration: none;
	font-weight:500;
	color:#5193cc;
	padding:0.25rem 0;
	font-family:'Lato', sans-serif;
}
a.btn:hover {
	text-decoration: none;
	background: #5193cc;
	color:#FFF;
	transition: all 350ms ease;
}
.btn_start {
	font-size:1.5rem;
}

.btn_404 {
	font-size:1rem;
}

/*WEATHER*/
.weather#weather h1 {
  font-size:2rem;
  line-height:150%;
  text-align:left;
  margin:0;
}
.weather#weather img {
  width:80%;
}
.weather#weather h2 {
	margin-top:.5rem;
	line-height:150%;
  font-size:1rem;
  text-align:center;
  text-transform:uppercase;
}
.weather#weather h3 {
  	text-align: center;
	text-transform: uppercase;
	font-size: .7rem;
	display: inline-block;
  	vertical-align: middle;
  	width: 100%;
	padding:0 .5rem;
  	color: #4c93ce;
  	position:relative;
  	top:-.5rem;
}
.weather#weather i {
  font-size:3rem;
  text-align:center;
  display:block;
  margin:1.25rem 0 1.5rem;
}
.weather#weather>div>div{
  border: 1px solid rgba(76,147,206,.25);
  border-right-width:0;
  height:185px;
  color:#4c93ce;
  margin-bottom:0;
}
.weather#weather h1 {
	text-transform:uppercase;
	text-align:center;
	margin:0;
	line-height:2rem;
	font-size:1rem;
	font-weight:700;
}
.weather#weather>div>div:first-of-type {
	border:none;
	height:auto;
	background:rgba(76,147,206,.25);
}
.weather#weather>div>div:nth-of-type(2) {
  background:#4c93ce;
  border:none;
  color:#FFF;
}
.weather#weather>div>div:nth-of-type(2) h3 {
  color:#FFF;
}
.weather#weather>div>div:last-of-type {
  border-width:0;
  background:rgba(76,147,206,.25);
}
.weather#weather>div>div:last-of-type h3 {
  text-transform:none;
  position:absolute;
  left:0;
  top:.5rem;
  /*font-weight:700;*/
}
.weather#weather .degrees p {
  text-align:center;
   margin:0 0 .5rem;
}
.weather#weather .degrees p:first-of-type{
  font-weight:700;
}
.weather#weather .degrees {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
.weather#weather .vertical-center {
  position:absolute;
  top:0;
  left:0;right:0;
  display:block;
  height:200px; //IE7fix
  line-height: 200px;
}

.weather#weather .vertical-center img {
  max-height: 100%;  
    max-width: 80%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

/*** LOGO ***/
.logoid::after {
	content:url(../images/logo.svg);
}
.logoid.small::after {
	content:none;
}
.logoid.small {
	background:url(../images/logo_invert.svg);
	background-size:contain;
	background-position: center;
	background-repeat:no-repeat;
	margin:auto;
	max-width:30vw;
	max-height:16px;
	display:block;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	left:0;
}

/*BP1 = PORTRAIT */
@media (min-width: 20rem) and (orientation: portrait) {
	.v_center {
		top:10%;
	}
	.weather#weather>div>div:nth-of-type(3), .weather#weather>div>div:nth-of-type(5){
		border-right-width:1px;
		border-bottom-width:0px;
	}
	.weather#weather>div>div:nth-of-type(4){
		border-bottom-width:0px;
	}
}
@media (min-width: 20rem) and (orientation: landscape){
	/*.v_center {
		top:5%;
	}
	#tagline {
		margin:0;
	}
	#logo {
		margin:0;
	}*/
}
/*BP2 = PORTRAIT */
@media (min-width: 30rem) {
	h2 {
		font-size:1.25rem;
		line-height:150%;
		margin:0;
		margin-top:.5em;
	}
	.bg_blue #progress_bar p {
		width:1.5em;
		line-height: 1.5em;
		letter-spacing: 0;
	}
	#results .hero {
		height:16rem;
	}
	.hero {
		height:20rem;
	}
	.v_center {
		top:15%;
	}
}

/*BP3 - TABLET - LANDSCAPE*/
@media (min-width: 42.5rem){
	.specs p {
		font-size:1rem;
		line-height:150%;
	}
	#detail .wiki {
		margin-top:.5rem;
		padding:0rem 1rem;
	}
	#detail h2 {
		font-size:2.75rem;
		line-height:200%;
		margin: 0;
		font-weight:400;
		text-align:center;
	}
	.weather#weather>div>div:nth-of-type(3), .weather#weather>div>div:nth-of-type(5){
		border-right-width:0;
	}
	.weather#weather>div>div:nth-of-type(4){
		border-right-width:1px;
		border-bottom-width:0;
	}
	.weather#weather>div>div:nth-of-type(3) {
		border-bottom-width:0;
	}
	.results {
		margin-top:-7.5rem;
	}
	h1 {
		font-size:6rem;
		line-height:7.5rem;
	}
	h2 {
		font-size:2rem;
		line-height:150%;
		margin-top:.5em;
	}
	h3 {
		font-size:1.25rem;
		line-height:150%;
	}
	.results>div>div>.grid__column {
		margin-bottom:1rem;
	}
	/*QUESTIONS*/
	#questions .fix_bottom {
		display:none;
	}
	#questions .bg_blue {
		top:auto;
		bottom:0;
		font-size:1.25rem;
	}
	.hero {
		height:18rem;
	}
	#results .hero {
		height:20rem;
	}
	#questions h5 {
		font-size:1.5em;
		font-weight:500;
	}
	#detail .bg_blue {
		display:none;
	}
	#detail .detail-template-wrapper .share {
		display:block;
	}
	.bg_blue_fluid h5 {
		margin:1rem;
	}
	.answers p {
		font-size:1.125rem;
	}
	#questions .bg_blue i {
		font-size:1.5rem;
		line-height:1.5rem;
	}
	.footer a, .footer p {
		font-size: 0.875rem;
		margin:0 0 .25rem;
	}
	.btn_restart {
		height:4rem;
		font-size:2rem;
		line-height:3rem;
	}
}

@media (min-width: 42.5rem) and (orientation: landscape) {
	.v_center {
		top:20%;
	}
	#logo {
		margin-top:1rem;
		margin-bottom:1rem;
	}
	#tagline {
		margin:1rem 0;
		font-size:1.25em;
	}
}
@media (min-width: 60rem){
	.weather#weather>div>div:nth-of-type(4){
		border-right-width:0;
		border-bottom-width:1px;
	}
	.weather#weather>div>div:nth-of-type(3){
		border-bottom-width:1px;
	}
	.weather#weather>div>div:last-of-type{
		border-top-width:1px;
	}
	.answers .grid__row {
		padding-top:.5rem;
	}
	#questions .searchField {
		display:none;
	}
	.bg_blue_fluid .grid__column:last-child h5 {
		text-align:center;
	}
	.btn_start, .btn_restart {
		height:3rem;
		font-size:2rem;
		line-height:2rem;
	}
	.txt_center {
		text-align:left;
	}
	.hero {
		height:16rem;
	}
	#results .hero {
		height:24rem;
	}
	h4 {
		font-size:1.75rem;
		margin:1rem 0;
	}
	.bg_blue p.icon, .bg_blue a.icon {
		line-height:3.5rem;
		font-size:1.25rem;
	}
	body .bg_blue + div.grid__wrapper {
		margin-top:3.5rem;
	}
	body .bg_blue + div.grid__wrapper.hero {
		margin-top:0;
	}
	body>.page.q {
		padding-bottom: 3.5rem;
	}
}
@media (min-width: 71.25rem){
	.btn_start {
		height:4rem;
		font-size:3rem;
		line-height:3rem;
	}
	#tagline {
		margin:2rem 0;
	}
	.hero {
		height:24rem;
	}
	#results .hero {
		height:26rem;
	}
}